/* navigation */
#navbar{
    flex-direction: column;
}
/* home section  */
#home{height: 380px;
    flex-direction: column;
    padding: 2px 68px;
}
#home::before{
    height: 500px;
}
/* services section  */
#services{flex-direction: column;

}
#services.box{

}
/* clients section  */
/* contact us section */
/* footer  */